@import url(http://fonts.googleapis.com/css?family=Herr+Von+Muellerhoff);
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);

body {
	background-image: url('tex2res4.png');
}

#site_wrapper {
	margin: 0 auto;
	width: 960px;
	position: relative;
}

#callout {
	position: absolute;
	top: -30px;
	left: 15%;
	color: #A9A9A9;
	text-shadow: 1px 1px 2px #A9ACB6;
	padding: 0px 30px 0px 30px;
	font-family: 'Herr Von Muellerhoff', cursive;
	font-size: 3em;
}

#headings {
	position: absolute;
	top: 200px;
	left: 10%;
	color: white;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 1.5em;
}

#nested {
	top: 150px;
	left: 5%;
	color: white;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 1em;
	padding: 0px 0px 40px 0px;
}

#mine .ui-accordion {
	width: 75%;
}
#mine .ui-widget-content {
	background: #3B3B3B;
	color: white;
}
#mine .ui-widget-content a {
	color: white;
}
#mine .ui-state-active {
	background: white;
}
#mine .ui-accordion-header {
	padding: .25em .25em .25em 1em;
}
#mine .ui-accordion-content {
	padding: 0em 1em;
}
#mine .ui-helper-reset {
	
}
#mine .gc-cs-link {
	color: #cccccc;
}


